<div class="row">
    <div class="col-lg-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Rank</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in players.all | orderBy: 'rank'">
                <td>{{$index + 1}}</td>
                <td>{{player.name}}</td>
                <td>{{player.rank}}</td>
                <td><button type="button" class="close" aria-label="Close" ng-click="removePlayer(player)"><span aria-hidden="true">&times;</span></button></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="row">
    <div class="col-lg-8">
        <form class="form-inline" ng-class="{'has-error' : errors.length}">
            <div class="form-group">
                <label class="sr-only" for="genNameInput">Name</label>
                <textarea ng-model="name" type="text" class="form-control" id="genNameInput" placeholder="Name (one by line)"></textarea>
            </div>
            <div class="form-group">
                <label class="sr-only" for="genRankInput">Rank</label>
                <textarea ng-model="rank" type="text" class="form-control" id="genRankInput" placeholder="Rank (one by line)"></textarea>
            </div>
            <button class="btn btn-success" ng-click="addPlayers(name, rank)">Add player</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <ul class="text-danger">
            <li ng-repeat="error in errors">
                {{error}}
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Danger zone ! This cannot be undone !
            </div>
            <div class="panel-body">

                <button class="btn btn-danger" ng-click="deletePlayers()">Delete ALL players</button>
            </div>
        </div>
    </div>
</div>
