
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <trnmt-group-section ng-show="selection.group" group="selection.group"></trnmt-group-section>
        </div>
        <div class="col-lg-3">
            <div class="list-group">
                <button type="button" class="list-group-item" ng-class="{active:selection.groupNumber==group.number}"
                        ng-click="selectGroup(group)" ng-repeat="group in groups.all">Group {{group.number}}</button>
            </div>
            <trnmt-player-swap></trnmt-player-swap>
        </div>
    </div>
</div>
